body{
    background-color: #673AB7;
    margin: 0px;
    font-family: verdana;
  }
  div span{
    display: block;
    text-align: center;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;
    font-weight: bold;
  }
  .topWrapper{
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
  }
  .b-box{
    display: block;
    min-height: 12em;
    margin-right: 30px;
    width: 45%;
    background-color: #03A9F4;
    float: right;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .d-box{
    display: block;
    background-color: #9E9E9E;
    float: left;
    width: 90%;
    margin: 10px 0px 10px 10px;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .slider{
    width: 95%;
    padding: 10px;
  }
  .sliderWrapper,#chanceOfRainChartWrapper,#rainfallChartWrapper{
    min-height: 30vh;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sliderWrapper{
    padding-top: 13.8em;
  }
  footer{
    clear: both;
    display: block;
    background-color: #607D8B;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  @media only screen and (max-width: 840px){
    body {
        background-color: #FFF;
    }
    .topWrapper{
      min-height: 31vh;
      margin: 0px;
      width: 100%;
    }
    .b-box{
      margin:10px 10px 0px;
      width: 97.5%;
    }
    .d-box{
      width: 47.5%;
      margin: 10px 0px 10px 10px;
    }
  }
  @media only screen and (max-width: 450px){
    body {
        background-color: #FFF;
    }
    .b-box{
      width: 95.5%;
    }
    .d-box{
      width: 94%;
      margin: 10px 10px 0px;
    }
  }
